.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
}

li {
    list-style: none
}

div[v-cloak]{
    display: none;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.page {
    display: flex;
}

.page aside {
    height: 100vh;
    width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #28407c;
}

.page aside header {
    width: inherit;
    height: 16vh;
    border-bottom: 1px solid #172d65;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page aside header .download {
    border: 1px solid #85a7ec;
    height: 45px;
    width: 78%;
    text-align: center;
    border-radius: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page aside header .download span {
    font-size: 18px;
    line-height: 20px;
    height: 20px;
    color: white;
}

.page aside header .download span .icon {
    font-size: 22px;
}

.page aside ul {
    margin: 40px 0;
    color: white;
}

.page aside ul li {
    font-size: 15px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page aside ul li:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.page aside ul li:nth-child(4) {
    margin: 20px 0;
}

.page aside ul li:nth-child(6) {
    margin-bottom: 20px;
}

.page aside ul li span:nth-child(1) {
    margin-right: 14px;
    font-size: 20px;
}
.page aside footer{
    width: inherit;
    height: 16vh;
    border-top: 1px solid #172d65;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page aside .loginOut {
    font-size:18px;
    border: 1px solid #85a7ec;
    height: 45px;
    width: 78%;
    text-align: center;
    border-radius: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}
.page aside .loginOut .icon{
    font-size: 24px;
    vertical-align: middle;
}
.page aside .toggle {
    font-size: 14px;
    color: white;
}

.page main {
    flex: 1;
    min-width: 820px;
    background: linear-gradient(to right, rgba(59, 88, 147, 1) 0%, rgba(22, 37, 86, 1) 100%);
    height: 100vh;
    overflow: auto;
}

.page main .resume {
    width: 820px;
    margin: 36px auto;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(40, 64, 124, 1);
}

.page main .resume .topBar {
    width: inherit;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.page main .resume .topBar .topBar-left {
    float: left;
    width: 550px;
    height: 154px;
    margin: 34px 0 30px 60px;
    position: relative;
    z-index: 1;
}
.page main .resume .topBar .topBar-left h1 editable-span input{
    font-size:inherit;
    height:42px;

}
.page main .resume .topBar .topBar-left p {
    padding:5px 0;
}
.page main .resume .topBar .topBar-left p editable-span{

}
.page main .resume .topBar .topBar-left::before {
    content: '';
    background: url(../img/image1.png) no-repeat;
    background-size: 620px 172px;
    position: absolute;
    z-index: -1;
    top: -19px;
    left: -61px;
    width: 620px;
    height: 172px;
}

.page main .resume .topBar .topBar-right {
    width: 130px;
    height: 156px;
    border: 4px solid #E5E5E5;
    margin: auto auto;
    overflow: hidden;
}

.page main .resume .topBar .topBar-right img {
    width: 130px;
    height: 156px;
}

.page main .resume .topBar .line {
    width: 763px;
    height: 4px;
    background-color: #589BF7;
    margin-left: 30px;
}

.page main .resume .content {
    margin: 30px 0;
    overflow: hidden;
}

.page main .resume .content ul {
    margin:50px 0 30px 0;
}

.page main .resume .content ul li {
    margin-left: 30px;
    display: flex;
    position: relative;
}

.page main .resume .content ul li div:nth-child(1) {
    font-size: 18px;
    color: #589BF7;
    font-weight: bolder;
}

.page main .resume .content ul li div:nth-child(2) {
    border: 1px solid #589BF7;
    border-right-color: transparent;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:602px;
}
.page main .resume .content ul .teachBack-wrapper div {
    border: 1px solid #589BF7;
    border-right-color: transparent;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:602px;
}
.page main .resume .content ul li div:nth-child(2) div{
    width: 602px;
    height: 115px;
}
.page main .resume .content ul li .dele,
.page main .resume .content ul li .add
{
    border: 1px solid black;
    width:3em;
    height:20px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
    font-size: 13px;
    cursor: pointer;
}
.page main .resume .content ul li .dele{
    position: absolute;
    top:0;
    right:40px;
}
.page main .resume .content ul li .add{
    position: absolute;
    top:0;
    right:0;
}