
.page .login{
    position: fixed;
    top: 23%;
    right:43%;
    z-index:5;
    color:white;
    min-width:300px;
    min-height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    z-index:2;
}
.page .login .loginBar{
    background-color:rgba(59, 88, 147, 1);
    display: flex;
    flex-direction: column;
    padding-top:50px;
    width:300px;
    height:400px;
    font-size:16px;
    position: relative;
}
.page .login .loginBar .login-inner{
    font-size:20px;
    position: absolute;
    top:10px;
    left:10px;
    width:3em;
}
.page .login .loginBar form input{
    width:60%;
}
.page .login .loginBar form input[type=submit]{
    width:3em;
}
.page .login .loginBar form button{
    width:3em;
}
.page .login .actions button{
    position: absolute;
    top:10px;
    right:10px;
    width:3em;
}
.page .login .loginBar span{
    padding-left:10px;

}
.page .login .loginBar form{
    display: flex;
    flex-direction: column;
}
