<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线简历制作工具</title>
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
    <link href="./css/share.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/print.css" media="print">
    <link rel="stylesheet" href="css/template.css">
</head>
<body>
<div class="page" id="app">
    <aside v-show="mode === 'edit'">
        <header>
            <div @click="save" class="download">
                <span>保存</span>
                <span>
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-Shape"></use>
                </svg>
            </span>
            </div>
        </header>
        <ul>
            <li class="template">
            <span>
                <svg class="icon" aria-hidden="true">
                     <use xlink:href="#icon-moban"></use>
                </svg>
            </span>
                <span>模板管理</span>
            </li>
            <li class="template" @click="templateChange = !templateChange">
            <span>
                <svg class="icon" aria-hidden="true">
                     <use xlink:href="#icon-moban1"></use>
                </svg>
            </span>
                <span>更换模板</span>
            </li>
            <li class="template">
            <span>
                <svg class="icon" aria-hidden="true">
                     <use xlink:href="#icon-fengge-"></use>
                </svg>
            </span>
                <span>风格设置</span>
            </li>
            <li class="template">
            <span>
                <svg class="icon" aria-hidden="true">
                     <use xlink:href="#icon-daochu"></use>
                </svg>
            </span>
                <span>导入简历</span>
            </li>
            <li class="template" @click="printResume">
            <span>
                <svg class="icon" aria-hidden="true">
                     <use xlink:href="#icon-dayin"></use>
                </svg>
            </span>
                <span>打印简历</span>
            </li>
            <li class="template" @click="myResume">
            <span>
                <svg class="icon" aria-hidden="true">
                     <use xlink:href="#icon-wode_1-copy"></use>
                </svg>
            </span>
                <span>我的简历</span>
            </li>
            <li class="template" @click="shareResume = true">
            <span>
                <svg class="icon" aria-hidden="true">
                     <use xlink:href="#icon-lishi"></use>
                </svg>
            </span>
                <span>分享简历</span>
            </li>
        </ul>
        <footer>
            <div @click="loginOut" class="loginOut" v-show="hasLogin()">
                <span>登出</span>
                <span>
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-dengchu"></use>
                </svg>
            </span>
            </div>
        </footer>
        <div class="toggle">
            <span>切换手机简历</span>
            <span>选择条</span>
        </div>
    </aside>
    <main :class="mainClass">
        <div class="resume">
            <div class="topBar">
                <div class="topBar-left">
                    <h1><editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.name" v-on:edit="onEdit('name',$event)"></editable-span :disabled="mode === 'preview'"></h1>
                    <p><editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.introduce" v-on:edit="onEdit('introduce',$event)"></editable-span :disabled="mode === 'preview'"></p>
                    <p>
                        <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.birthday" v-on:edit="onEdit('birthday',$event)"></editable-span :disabled="mode === 'preview'">
                        | <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.jobTitle" v-on:edit="onEdit('jobTitle',$event)"></editable-span :disabled="mode === 'preview'">
                        | <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.phone" v-on:edit="onEdit('phone',$event)"></editable-span :disabled="mode === 'preview'">
                        | <editable-span :disabled="mode === 'preview'" v-bind:value="displayResume.email" v-on:edit="onEdit('email',$event)"></editable-span :disabled="mode === 'preview'">
                        |
                    </p>
                </div>
                <div class="topBar-right">
                    <img src="" alt="个人图片">
                </div>
                <div class="line"></div>
            </div>
            <div class="content">
                <ul>
                    <li>
                        <div>求职意向</div>
                        <div>
                            <text-span :disabled="mode === 'preview'"  v-bind:value="displayResume.message1" v-on:edit="onEdit('message1',$event)"></text-span :disabled="mode === 'preview'" >
                        </div>
                    </li>
                    <li>
                        <div>教育背景</div>
                        <div class="teachBack">
                            <div v-for="mes,index in displayResume.message2" style="position: relative;border:1px solid #589BF7;margin-left:0;">
                                <text-span :disabled="mode === 'preview'"  v-bind:value="mes.mes1" v-on:edit="onEdit(`skills[${index}].mes1`,$event)"></text-span :disabled="mode === 'preview'" >
                                <span class="dele"  v-show="mode === 'edit'" @click="removeMessage2" v-if="index > 0">删除</span>
                            </div>
                        </div>
                        <span class="add" v-show="mode === 'edit'" @click="addMessage2">添加</span>
                    </li>
                    <li>
                        <div>工作经验</div>
                        <div><text-span :disabled="mode === 'preview'"  v-bind:value="displayResume.message3" v-on:edit="onEdit('message3',$event)"></text-span :disabled="mode === 'preview'" ></div>
                    </li>
                    <li>
                        <div>技能特长</div>
                        <div><text-span :disabled="mode === 'preview'"  v-bind:value="displayResume.message4" v-on:edit="onEdit('message4',$event)"></text-span :disabled="mode === 'preview'" ></div>
                    </li>
                    <li>
                        <div>兴趣爱好</div>
                        <div><text-span :disabled="mode === 'preview'"  v-bind:value="displayResume.message5" v-on:edit="onEdit('message5',$event)"></text-span :disabled="mode === 'preview'" ></div>
                    </li>
                    <li>
                        <div>自我评价</div>
                        <div><text-span :disabled="mode === 'preview'"  v-bind:value="displayResume.message6" v-on:edit="onEdit('message6',$event)"></text-span :disabled="mode === 'preview'" ></div>
                    </li>
                </ul>
            </div>
        </div>

    </main>
    <div class="shareResume" v-show="shareResume" v-cloak>
        <div class="share">
            <textarea readonly="readonly">{{shareLink}}</textarea>
            <button @click="shareResume = false">关闭</button>
        </div>
    </div>
    <div v-show="loginVisable"  class="login" v-cloak>
        <div class="loginBar">
            <div class="login-inner">登录</div>
            <form action="" @submit.prevent="onLogin">
                <label for="">用户名&nbsp:&nbsp</label><input type="text" placeholder="请输入用户名" v-model="Login.email">
                <label for="">密码&nbsp:&nbsp</label><input type="password" placeholder="请输入密码" v-model="Login.password">
                <button type="submit" >提交</button>
                <button type="button" @click="loginVisable=false;signUpVisible = true">注册</button>
            </form>
            <div class="actions">
                <button type="button" @click="loginVisable = false">关闭</button>
            </div>
        </div>
    </div>
    <div v-show="signUpVisible"  class="login" v-cloak>
        <div class="loginBar">
            <div class="login-inner">注册</div>
            <form action="" @submit.prevent="onSignUp">
                <label for="">邮箱&nbsp:&nbsp</label><input type="text" placeholder="请输入邮箱" v-model="signUp.email">
                <label for="">密码&nbsp:&nbsp</label><input type="password" placeholder="请输入密码" v-model="signUp.password">
                <label for="">确认密码&nbsp:&nbsp</label><input type="password" placeholder="重复输入密码" v-model="signUp.password1">
                <button type="submit" >提交</button>
                <button type="button" @click="loginVisable=true;signUpVisible = false">登录</button>
            </form>
            <div class="actions">
                <button type="button" @click="loginVisable = false">关闭</button>
            </div>
        </div>
    </div>
    <div class="templateChange" v-show="templateChange">
        <div class="templateChange-inner">
            <span @click="setTheme('default')">默认</span>
            <span @click="setTheme('dark')">黑色</span>
        </div>
    </div>
</div>
<script src="../vendors/vue.min.js"></script>
<script src="../vendors/av-min.js"></script>
<script src="//at.alicdn.com/t/font_778373_6sz36p6iple.js"></script>
<script src="js/app.js"></script>
<!--<script src="js/login.js"></script>-->
<!--<script src="js/share.js"></script>-->
<!--<script src="js/signUp.js"></script>-->
<!--<script src="js/skinPicker.js"></script>-->
</body>
</html>